@font-face {
  font-family: "Lato", Arial, Veranda, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("/homework16/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-light", Arial, Veranda, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("/homework16/fonts/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: "Ghotam", Arial, Veranda, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("/homework16/fonts/gotham/Gotham_Black.otf");
}
@font-face {
  font-family: "OpenSans-light", Arial, Veranda, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("/homework16/fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans-reg", Arial, Veranda, sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url("/homework16/fonts/Open_Sans/OpenSans-Regular.ttf");
}
body {
  background: white;
}

h1 {
  font-family: "Ghotam", Arial, Veranda, sans-serif;
  font-weight: 900;
  font-size: 1.94rem;
  letter-spacing: .1px;
  margin: 0;
}

h2 {
  font-family: "Ghotam", Arial, Veranda, sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
  margin: 0;
}

h3 {
  font-family: "Lato-light", Arial, Veranda, sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

a {
  color: #7b7b7b;
  font-family: "Lato", Arial, Veranda, sans-serif;
  font-size: .875rem;
}

p {
  font-family: "OpenSans-reg", Arial, Veranda, sans-serif;
  font-weight: normal;
  font-size: .8rem;
}

.services p,
.cards p,
.contacts p,
.price p,
.process p,
.cards p,
.contacts p {
  color: #7b7b7b;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  letter-spacing: .3px;
}

.header-logo {
  margin: 21px 0;
}

.feedback {
  padding-top: 105px;
  background: #709dca;
}

.main-top p {
  font-family: "OpenSans-light", Arial, Veranda, sans-serif;
  font-size: 1.03rem;
  margin-bottom: 31px;
}
.main-contact {
  margin-left: 25px;
  margin-bottom: 6px;
}
.main-contact .contact-top {
  margin-right: 8px;
}

.banner {
  -webkit-transform: translateY(61px);
          transform: translateY(61px);
}
.banner ol {
  -webkit-transform: translateY(64px);
          transform: translateY(64px);
}
.banner-buttons li {
  height: 15px;
  width: 15px;
  border: 2px solid #aaa9a9;
  border-radius: 100%;
}
.banner-buttons li:first-child {
  border: 2px solid #709dca;
}

.services {
  padding: 195px 0 81px 0;
}
.services h3 {
  margin: 0 0 13px 0;
}
.services-main {
  padding-top: 87px;
}
.services-main p {
  font-size: .95rem;
  letter-spacing: .3px;
}
.services-items {
  padding: 0 0 55px 0;
  margin: 0;
}
.services-items p {
  font-size: .8rem;
  letter-spacing: .5px;
  line-height: 1.4rem;
}
.services-items .clock-img {
  padding: 0;
  margin: 0 22px 0 0;
}
.services-items .studi-img {
  padding: 0;
  margin: 3px 5px 0 0;
}
.services-items .code-img {
  padding: 0;
  margin: 0 22px 0 0;
}
.services-items .respons-img {
  margin: 0 0 0 17px;
}
.services-items .rocket-img {
  margin: 0 0 0 17px;
}
.services-items .dollar-img {
  margin: -4px 0 0 33px;
}

.aboutus {
  color: white;
  background: #ffc155;
}
.aboutus-img {
  max-height: 623px;
}
.aboutus-article {
  margin-top: 157px;
  margin-left: 4.1rem;
}
.aboutus-article p {
  margin-top: 18px;
  padding-right: 0;
  font-size: .84rem;
  line-height: 1.5rem;
  letter-spacing: .8px;
}
.aboutus-button {
  margin: 13px 0 0 16px;
  padding: 10px 31px;
  border: 1px solid #e7ad48;
}

.price {
  padding-top: 130px;
  padding-bottom: 165px;
  background: #e7edf3;
}
.price-plans {
  margin-top: 49px;
}
.price h3 {
  font-size: 1.41rem;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.price-plans p {
  letter-spacing: .4px;
}
.price-first, .price-thrd {
  margin-top: 30px;
  margin-bottom: 30px;
}
.price-first h3, .price-thrd h3 {
  margin-top: 52px;
}
.price-middle {
  background: #709dca;
  padding-bottom: 77px;
}
.price-middle p {
  color: white;
}
.price-middle h3 {
  margin-top: 83px;
}
.price-cost {
  vertical-align: -15px;
  font-size: 4rem;
}
.price-dollar {
  font-size: 2.5rem;
  line-height: 2rem;
}
.price .end-toppart {
  margin-bottom: 25px;
}
.price-items {
  border-top: 1px solid #aaa9a9;
  padding-top: 11px;
  margin-bottom: 9px;
}
.price-button {
  margin-top: 22px;
}

p.price-outside {
  color: #ffc155;
}

.process {
  padding-top: 148px;
  padding-bottom: 150px;
}
.process-visual {
  margin-top: 105px;
  margin-left: 7%;
  margin-right: 7%;
}
.process-items {
  max-width: auto;
  max-height: 60px;
  margin-bottom: 98px;
}
.process-items-arrow {
  margin-top: -30px;
  max-width: auto;
  min-width: 80px;
  max-height: 30px;
}
.process .arrow-bot-rev {
  -webkit-transform: translate(14px, 96px);
          transform: translate(14px, 96px);
}
.process-steps {
  width: 23%;
}
.process-steps h3 {
  font-size: 1.15rem;
  margin-bottom: 21px;
}
.process-steps p {
  padding: 0 8px;
  letter-spacing: .5px;
  line-height: 1.4rem;
}
.process-button {
  padding: 12px 20px;
  margin-top: 70px;
}

.cards {
  padding-top: 135px;
  padding-bottom: 140px;
  background: #ffc155;
}
.cards-items {
  margin-top: 55px;
}
.cards-items-left, .cards-items-right {
  padding: 44px 20px 32px 0;
  margin-bottom: 20px;
}
.cards-items-left {
  margin-right: 3px;
}
.cards-items-right {
  margin-left: 3px;
}
.cards-photo {
  margin-left: 30px;
  width: 100%;
  max-width: 120px;
  height: auto;
}
.cards-name {
  color: #ffc155;
}
.cards-mesage {
  font-size: .85rem;
  line-height: 1.4rem;
  padding-top: 2px;
  margin-bottom: 18px;
}
.cards-mesage::before, .cards-mesage::after {
  position: absolute;
  color: #7b7b7b;
  font-size: 2.5rem;
}
.cards-mesage::before {
  content: '\201c';
  left: -20px;
  top: 5px;
}
.cards-mesage::after {
  content: '\201e';
}

.contacts {
  padding-top: 148px;
  padding-bottom: 49px;
}
.contacts-subscribe {
  margin: 36px 9.3% 93px 9%;
}
.contacts-items {
  border: 1px solid #aaa9a9;
}
.contacts-items-name {
  width: 33%;
}
.contacts-items-mail {
  width: 41.5%;
}
.contacts-button {
  padding-left: 52px;
  padding-right: 52px;
}
.contacts .address {
  margin-bottom: 67px;
  background: url(/img/big_earth.jpg) center no-repeat;
  background-size: 900px 449px, cover;
  height: 500px;
}
.contacts .address-items {
  background: #394b50;
  width: 279px;
  height: 279px;
}
.contacts .address h3 {
  margin-top: 62px;
  margin-bottom: 17px;
  font-weight: normal;
}
.contacts .address p {
  line-height: .6rem;
}
.contacts .address p:last-child {
  letter-spacing: .29px;
  line-height: .15rem;
  color: #ffc155;
}
.contacts .address-triangle {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid #394b50;
}
.contacts .address-logo {
  margin-top: 7px;
}
.contacts-nav {
  margin: 0 8%;
  padding: 53px 0 2px 0;
  border-top: 1px solid #aaa9a9;
}
.contacts-phone {
  margin-top: 8px;
}
.contacts-phone .phone-img {
  margin-top: 6px;
  padding: 0 0 0 1px;
}
.contacts-phone .phone-number {
  padding: 0;
  margin-left: 5px;
  line-height: 2rem;
  font-size: 1.4rem;
}
.contacts-logo-items {
  margin: 0 8px;
}

.footer {
  padding: 13px 0;
  background: #709dca;
  letter-spacing: .35px;
}

/*# sourceMappingURL=main.css.map */