
$bckrnd-hightlight: #ffc155;
$bckrnd-thnd: #709dca;
$bckrnd-thrd: #e7edf3;
$bckrnd-hover: #ffbb42;
$cost-hightlight: $bckrnd-hightlight;
$border-blocks: #aaa9a9;
$border-hightlight: $bckrnd-hightlight;
$border-hover: $bckrnd-hover;
$border-btn: $border-hover;
$border-buttons-circle: $bckrnd-thnd;
$internal-text: #7b7b7b;
$link-text: $internal-text;
$text-hightlight: #f6772c;

$fonts-default: Arial, Veranda, sans-serif;
