*,
*:before,
*:after {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 3rem;
    color: grey;
}
p {
    padding-left: 1em;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 0.2rem;
    padding-bottom: 0;
    margin: 0;
}
body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    width: 80%;
}
.header {
    margin-bottom: 2rem;
    border-bottom: 1px solid lightblue;
}
.main {
    margin-left: -2em;
    margin-right: -2em;
}
.block-colors_inside {
    width: 25%;
    height: 120px;
    padding: 0px 2em 1em 2em;
    float: left;
}
.box {  
    height: 55%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.bot {
    height: 45%;
    background-color: whitesmoke;
    padding: 0.3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box-inside {
    width: 50%;
    height: 100%;
    float: left;
}
.box-inside-left {
    width: 50%;
    float: left;
}
.box-bot {
    width: 100%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.brdr-t-l {
    border-top-left-radius: 10px;
}
.brdr-t-r {
    border-top-right-radius: 10px;
}
.brdr-bottom {
}
.grapefruit-light {
    background-color: #ED5565;
}
.grapefruit-hard {
    background-color: #DA4453;
}
.flower-light {
    background-color: #FFE784;
}
.flower-hard {
    background-color: #E6D077;
}
.purple-light {
    background-color: #8484FF;
}
.purple-hard {
    background-color: #7777E6;
}
.grass-light {
    background-color: #A0D468;
}
.grass-hard {
    background-color: #8CC152;
}
.infrared-light {
    background-color: #E74C3C;
}
.infrared-hard {
    background-color: #C0392B;
}
.bluesteel-light {
    background-color: #3498DB;
}
.bluesteel-hard {
    background-color: #2980B9;
}
.forest-light {
    background-color: #5FBF60;
}
.forest-hard {
    background-color: #59B359;
}
.ghost-light {
    background-color: #F1F1F1;
}
.ghost-hard{
    background-color: #E8E8E8;
}
.sun-light{
    background-color: #FCD630;
}
.sun-hard{
    background-color: #EDC92D;
}
.twitter-light{
    background-color: #00ACED;
}
.twitter-hard{
    background-color:  #009BD5;
}
.facebook-light{
    background-color: #3B5998;
}
.facebook-hard{
    background-color: #355089;
}
.cave-light{
    background-color: #282828;
}
.cave-hard{
    background-color: #242424;
}
.lake-light{
    background-color: #97D6D9;
}
.lake-hard{
    background-color: #7DCFCC;
}
.gum-light{
    background-color: #F1748D;
}
.gum-hard{
    background-color: #DA5571;
}
.gold-light{
    background-color: #DFAC2C;
}
.gold-hard{
    background-color: #C99B28;
}
.ocean-light{
    background-color: #56C1A7;
}
.ocean-hard{
    background-color: #4DAE96;
}
.mango-light{
    background-color: #2D35B2;
}
.mango-hard{
    background-color: #4649F9;
}
