*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
}
.wrapper {
    width: 100%;
    padding: 1% 10% 1% 10%;
}
ul {
    margin-left: -40px;
}
li {
    list-style: none;
    float: right;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* adres top begin */

address {
    width: 100%;
    border-bottom: 1px inset rgb(179, 221, 240);
}
.adress-top-left {
    float: left;
    width: 50%;
}   
.address-top-left p {
    float: left;
    font-size: .7em;
    margin: 0;
    padding: 0;
    padding: 0 2rem 0 1rem;
    color: rgba(101, 109, 224, 0.89);
}    

.mail {  
    float: left;
    margin-top: .3rem;
    width: 13px;
    height: 14px;
    background-image: url(https://use.fontawesome.com/releases/v5.0.13/svgs/regular/envelope.svg);
}
.phone {
    float: left;
    width: 13px;
    height: 20px;
    background-image: url(https://use.fontawesome.com/releases/v5.0.13/svgs/solid/mobile-alt.svg);
}
.address-top-right {
    float: right;
    width: 50%;
    margin: 0;
}
.address-top-right li{
    margin: 0 .1rem;
}
.address-top-right a {
    display: inline-block;
    width: 13px;
    height: 14px;
    margin: 0 0 0 0rem;
    padding: 0 .5rem;
}
.soc-fb a {
    background-image: url(icons/facebook.png);
} 
.soc-goog a {
    background-image: url(icons/google.png);
}
.soc-twit a {
    background-image: url(icons/twitter.png);
}
.soc-print a {
    background-image: url(icons/pinterest.png);
}
.soc-beha a {
    background-image: url(icons/behance.png);
}
.soc-six a {
    background-image: url(icons/www.png);
}

/* adres top end */

/* header begin */

header {
    margin: 2rem 0;
}
.nav-top {
    display: flex;
    justify-content: space-between;
}
.nav-top-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    min-width: 50%;

}
.nav-top-flex a {
    font-size: 0.5em;
    padding: .5rem .5rem;
    font-weight: bold;
    color: rgba(19, 19, 87, 0.925);
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input {
    border: none;
}
.search input:hover {
    border: 1px solid lightblue;
}
.search button {
    border: none;
    margin: 0;
    padding: 0;
}

/* header end */

/* Section top/main begin */

section {
    background-image: url(img/section_bckrnd.jpg);
    height: 20rem;
}
.section-top {
    height: 20%;
}
.section-mid {
    height: 60%;
}
.section-bot {
    height: 20%;
}
.section-main {
    text-align: center;
    color: white;
}
.section-main a {
    background-color: rgba(48, 236, 236, 0.753);
    padding: .5rem 1.5rem;
    text-decoration: none;
    color: white;
}
.section-main p {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* section top/main end */

/* main article begin */

h1 {
    font-size: 2em;
    margin-bottom: .3rem;
}
main h2 {
    color: rgba(7, 9, 97, 0.856);
    text-align: center;
}
article h3 {
    margin: 0;
    color: rgba(7, 9, 97, 0.856);
}
.main-center p {
    color: rgba(7, 9, 97, 0.4);
    font-size: 0.9em;
    text-align: center;
}    
.article p {
    color: rgba(7, 9, 97, 0.4);
    font-size: 0.7em;
}
.art-main-flex {
    display: flex;
}
.art-sect-flex {
    display: flex;
}
article [class|="icon"] {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}
.article {
    margin-left: 1rem;
}
.icon-heart {
    background-image: url(icons/heart.png);
}
.icon-light {
    background-image: url(icons/lightbulb.png);
}
.icon-star {
    background-image: url(icons/star.png);
}


/*  main article end */

/* main assid begin */
