// cards
.cards {
    background: $bckrnd-hightlight;
    &-photo {
        height: 20%;
    }
    &-name {
    color: $text-hightlight;
    }
    &-mesage {
        &::before, 
        &::after {
            position: absolute; 
            color: $internal-text; 
            font-size: 2rem
        }
        &::before {
            content: '\201c';
            top: -12px; 
            left: 0; 
        }  
        &::after {
            content: '\201d';
            bottom: 20px; 
            right: 25px;
        }
    }
}
