h1 {
    font-family: 'Ghotam';
    font-weight: 900;
    font-size: 2.1rem;
}
h2 {
    font-family: 'Ghotam';
    font-weight: 900;
    font-size: 1.5rem; 
}
h3 {  
    font-family: 'Lato-light';
    font-weight: 900;
    font-size: 1rem;
}
body {
    background: white;
}    
p {
    font-family: 'OpenSans-reg';
    font-weight: 500;
    font-size: .8rem;
    }   
a {
    color: $link-text;
    font-family: 'Lato';
    font-size: 14px;
}
    
.services p, 
.cards p,
.contacts p,
.price p,
.process p,
.cards p,
.contacts p, {
    color: $internal-text;
}
