body {
    background: white;
}    
h1 {
    font-family: 'Ghotam';
    font-weight: 900;
    font-size: 2.1rem;
    letter-spacing: .8px;
    margin: 0;
}
h2 {
    font-family: 'Ghotam';
    font-weight: 900;
    font-size: 1.8rem; 
    letter-spacing: 1px;
    margin: -4px 0 0 0;
    // padding: 0;
}
h3 {  
    font-family: 'Lato-light';
    font-weight: 900;
    font-size: 1rem;
}
a {
    color: $link-text;
    font-family: 'Lato';
    font-size: 14px;
}
p {
    font-family: 'OpenSans-reg';
    font-weight: normal;
    font-size: .8rem;
    }   
    
.services p, 
.cards p,
.contacts p,
.price p,
.process p,
.cards p,
.contacts p, {
    color: $internal-text;
}
.subtitle {
    font-size: 1.1rem;
    margin: 0;
    letter-spacing: .2px;
}