body {
    background: white;
}    
h1 {
    font-family: 'Ghotam', $fonts-default;
    font-weight: 900;
    font-size: 1.94rem;
    letter-spacing: .1px;
    margin: 0;
}
h2 {
    font-family: 'Ghotam', $fonts-default;
    font-weight: 900;
    font-size: 1.72rem;
    margin: 0; 
}
h3 {  
    font-family: 'Lato-light', $fonts-default;
    font-weight: 600;
    font-size: .95rem;
}
a {
    color: $link-text;
    font-family: 'Lato', $fonts-default;
    font-size: .875rem;
}
p {
    font-family: 'OpenSans-reg', $fonts-default;
    font-weight: normal;
    font-size: .8rem;
    }   
    
.services p, 
.cards p,
.contacts p,
.price p,
.process p,
.cards p,
.contacts p, {
    color: $internal-text;
}
.subtitle {
    font-size: 1.04rem;
    margin: 0;
    letter-spacing: .1px;
}