// text and fonts
$fonts-default: Arial, Veranda, sans-serif;
$internal-text: #7b7b7b;
$link-text: $internal-text;
$text-hightlight: #ffc155;
$price-text: #ffc155;

// background
$bckrnd-hightlight: #ffc155;
$bckrnd-secondary: #709dca;
$bckrnd-price: #e7edf3;
$bckrnd-address: #394b50;

// border-colors
$border-blocks: #aaa9a9;
$border-buttons-circle: $bckrnd-secondary;
