// feedback
.feedback {
    background: $bckrnd-secondary;
}

// main
.main {
    p {
        font-family: 'OpenSans-light';
        font-weight: 600;
        font-size: .8rem;
        letter-spacing: 1px;
    }
    
}
.banner {
    transform: translateY(50px);
    a {
        background: none;
    }
    ol {
        transform: translateY(50px);
    }
    &-buttons li {
        height: 12px;
        width: 12px;
        border: 2px solid $border-blocks;
        border-radius: 100%;
        &:first-child {
            border: 2px solid $border-buttons-circle;
        }
    }
}
