// aboutus
.aboutus {
    color: white;
    background: $bckrnd-hightlight;
    &-article {
    margin-left: 4rem;
    }
    p {
        line-height: 1rem;
    }
    button {
        border: 2px solid $primary;
    }
}
