// price
.price {
    background: $bckrnd-price;
    &-cost {
    vertical-align: -10px;
    font-size: 2rem;
    }
    &-dollar {
    font-size: 1.5rem;
    line-height: 2rem;
    }
    &-middle {
    background: $bckrnd-secondary;
    
        p {
        color: white;
        }
    }
    &-items {
    border-top: 1px solid $border-blocks;
    }
}
p.price-outside {
    color: $price-text;
}
