// aboutus
.aboutus {
    color: white;
    background: $bckrnd-hightlight;
    h2 {
        font-weight: bolder;
    }
    &-article {
    margin-top: 160px;
    margin-left: 4rem;
        p {
            margin-top: 18px; 
            padding-right: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: .3px;
        }
    }
    button {
        margin: 13px 0 0 16px;
        padding: 10px 31px;
        border: 1px solid #e7ad48;
    }
}