// price
.price {
    padding-top: 130px;
    padding-bottom: 165px;
    background: $bckrnd-price;
    &-plans {
        margin-top: 49px;
    }
    h3 {
        font-size: 1.41rem;
        letter-spacing: 1px;
        padding-bottom: 20px;
    }
    &-plans {
            p {
        letter-spacing: .4px;
        }
    }
    &-first,
    &-thrd {
        margin-top: 30px;
        margin-bottom: 30px;        
        h3 {
            margin-top: 52px;
        }
    }
    &-middle {
    background: $bckrnd-secondary;
    padding-bottom: 77px;        
        p {
        color: white;
        }
        h3 {
            margin-top: 83px;
        }
    }
    &-cost {
    vertical-align: -15px;
    font-size: 4rem;
    }
    &-dollar {
    font-size: 2.5rem;
    line-height: 2rem;
    }
    .end-toppart {
        margin-bottom: 25px;
    }
    &-items {
    border-top: 1px solid $border-blocks;
    padding-top: 11px;
    margin-bottom: 9px;
    }
    &-button {
        margin-top: 22px;
    }
}
p.price-outside {
    color: $price-text;
}
