// cards
.cards {
    padding-top: 136px;
    padding-bottom: 140px;
    background: $bckrnd-hightlight;
    &-items {
        margin-top: 55px;
        &-left, 
        &-right {
            padding: 44px 20px 32px 0;
            margin-bottom: 20px;
        }
        &-left {
            margin-right: 3px;
        }
        &-right {
            margin-left: 3px;
        }
    }
    &-photo {
        margin-left: 30px;
        width: 100%;
        max-width: 120px;
        height: auto;
    }
    &-name {
    color: $text-hightlight;
    }
    &-mesage {
        font-size: .85rem;
        line-height: 1.4rem;
        margin-bottom: 20px;
        &::before, 
        &::after {
            position: absolute; 
            color: $internal-text; 
            font-size: 2.5rem
        }
        &::before {
            content: '\201c'; 
            left: -20px; 
            top: 5px;
        }  
        &::after {
            content: '\201e';
        }
    }
}