// aboutus
.aboutus {
    color: white;
    background: $bckrnd-hightlight;
    h2 {
    }
    &-img {
        max-height: 624px;
    }
    &-article {
    margin-top: 157px;
    margin-left: 4.1rem;
        p {
            margin-top: 18px; 
            padding-right: 0;
            font-size: .84rem;
            line-height: 1.5rem;
            letter-spacing: .8px;
        }
    }
    &-button {
        margin: 13px 0 0 16px;
        padding: 10px 31px;
        border: 1px solid #e7ad48;
    }
}