// contacts
.contacts {
    padding-top: 147px;
    padding-bottom: 49px;
    &-subscribe {
        margin: 36px 9% 93px 9%;
        }
    &-items {
        border: 1px solid $border-blocks;
        margin-right: 10px;
        &-mail {
            padding-right: 100px; 
       }
    }
    &-button {
        line-height: 1.45rem;
        padding-left: 55px;
        padding-right: 54px;
    }
    .address {
        margin-bottom: 67px;
        background: url(/img/big_earth.jpg) center no-repeat;
        background-size: 900px 449px, cover;
        height: 500px;    
        &-items {
            background: $bckrnd-address;
            width: 279px;
            height: 279px;
        }
        h3 {
            margin-top: 62px;
            margin-bottom: 17px;
            font-weight: normal;
        }
        p {
            line-height: .6rem;
            &:last-child {
                letter-spacing: .29px; 
                line-height: .15rem;
                color: $text-hightlight;
            }
        }
        &-triangle {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 12px solid $bckrnd-address;
        }
        &-logo {
            margin-top: 7px;
        }
    }
    &-nav {
        margin: 0 8%;
        padding: 53px 0 2px 0;
        border-top: 1px solid $border-blocks;
    }    
    &-phone {
        margin-top: 8px;
        .phone-img {
            margin-top: 6px;
            padding: 0 0 0 1px;    
        }
        .phone-number {
            padding: 0;
            margin-left: 5px;
            line-height: 2rem;
            font-size: 1.4rem;
        }
    }
    &-logo-items {
        margin: 0 8px;
    }
}

// footer
.footer {
    padding: 13px 0;
    background: $bckrnd-secondary;
    letter-spacing: .35px;
}