.services {
    padding: 195px 0 81px 0;    
    h3 {
        margin: 0 0 13px 0;
    }
    &-main {
        padding-top: 87px;        
        p {
            font-size: .95rem;
            letter-spacing: .3px;
        }    
    }
    &-items {
        padding: 0 0px 55px 0;
        margin: 0;
        p {
            font-size: .8rem;
            letter-spacing: .5px;
            line-height: 1.4rem;
        }
        .clock-img {
            padding: 0;
            margin: 0 22px 0 0;
        }    
        .studi-img {
            padding: 0;
            margin: 3px 5px 0 0;
        }
        .code-img {
            padding: 0;
            margin: 0 22px 0 0;
        }
        .respons-img {
            padding: 0;
            margin: 0 17px 0 0;
        }
        .rocket-img {
            padding: 0;
            margin: 0 17px 0 0;
        }
        .dollar-img {
            padding: 0;
            margin: -4px 13px 0 20px;
        }
    }
}
.services-main-left {
    margin-right: 50px;
}